*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border-bottom: 1px solid grey;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-left{
    display: flex;
    align-items: center;
    padding: 5px;
    
}

.logo{
    width: 200px;
    margin-right: 20px;
}

i{
    margin: 0 10px;
    color: #000;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin: 0 10px;
}
li:last-child{
    border-bottom: 1px solid dodgerblue;
}
li:last-child a{
    color: dodgerblue;

}
li:hover{
    border-bottom: 1px solid dodgerblue;
}
.main{
    padding: 80px 100px;
}
.blue{
    color: dodgerblue;
    cursor:pointer;
}
